<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тестирование экстрасенсов</title>
</head>
<body>
    <p>
        Замечательно, вы решились на этот шаг.
    </p>
    <p>
        Я расскажу, что вам нужно будет делать.
    </p>
    <p>Пожалуйста, загадайте двухзначное число.</p>
    <p>А наши экстрасенсы попробуют угадать ваше число.</p>
    <p><strong>Порядок действий:</strong></p>
    <ol>
        <li>Загадайте двухзначное число.</li>
        <li>Нажмите кнопку "Я загадал число".</li>
        <li>Посмотрите на догадки экстрасенсов.</li>
        <li>Введите загаданное число и нажмите "Отправить".</li>
        <li>Повторяйте процесс бесконечно.</li>
    </ol>
    <form method="post">
        {% csrf_token %}
        <button name="confirm" type="submit">Я загадал число</button>
    </form>
</body>
</html>