<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тестирование экстрасенсов</title>
</head>
<body>
    {% if psychics %}
        <h2>Догадки экстрасенсов</h2>
        <ul>
            {% for psychic in psychics %}
                <li>{{ psychic.name }}:
                    {% if psychic.guesses %}
                        {{ psychic.guesses|last }}
                    {% else %}
                        Еще не сделал предположений
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit_number" type="submit">Отправить</button>
        </form>

    {% endif %}
</body>
</html>